# ----- Custom ManySecured-D3DB .gitignores ------
## D3 build artefacts ##
# JSON D3 claims
manufacturers_json/
# CSV D3 claims
D3DB/*.csv

# ---------- Global .gitignores ----------
# Ideally git on MacOS/Linux/Windows should already be ignoring these files
# but just in case, we'll add the common ones here

## Linux proofing
# KDE directory preferences
.directory
# file backups from text editors
*~

## Mac proofing
# General
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*

## Windows proofing
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini
